@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

html {
  color: black;
}

img {
  width: 225px;
  height: 318px;
  border-radius: 25px;
  border-color: white;
}

a.main {
  display: block;
  width: 225px;
  height: 318px;
}

input {
  color: black;
}
